[Desktop Entry]
Type=Application
Exec=update-monitor-position
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Update Monitors Position                                                                                                                         
Comment=Force monitors position from monitor.xml
Icon=display
